@using Notes.Web.ViewModels.Note;
@model NoteDetailsViewModel

<h2>Note Details</h2>

<div>
    <h1>Title: @Model.Title</h1>
    <p>Created On: @Model.CreatedOn.ToString("yyyy-MM-dd")</p>
    <p>Content: @Model.Content</p>
</div>

<form method="get" asp-action="All" asp-controller="Note">
    <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to go back?')">Back to List</button>
</form>
<form method="get" asp-action="MoveToTrash" asp-controller="Note">
    <button type="submit" class="btn btn-warning" onclick="return confirm('Are you sure you want to move this note to the trash?')">Move to trash</button>
</form>
@* TODO: Edit button *@
